#scrollPane .viewport {
    -fx-background-image: url("/images/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;

}

/* Styling of scrollbar referenced from https://stackoverflow.com/questions/48048943/javafx-8-scroll-bar-css/48050208
*/
.scroll-bar:vertical .track {
    -fx-background-color: #10151b;
    -fx-border-color: transparent;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em 0.0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #545a60;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}